body { background: #bbb0a1; }
input.coord { width: 50px; }
table.display { border-style: solid; border-width: thin; }
tr.t1 { background-color: #cdc0b0; }
tr.t2 { background-color: #ffefdb; }
th.display { padding: 6px; font-size: large; }
td.display { padding: 6px; font-size: large; text-align: center; }
p.display { font-size: large; }
div#config { padding: 10px;
             border-style: solid; border-width: thin; }
select.oselect { height: 30px; width: 400px; }
form { margin-left: 15px; margin-bottom: 15px; }
input.button { height: 30px; width: 240px; }
.footer { border-top-style: solid; border-top-color: black; border-top-width: 1px }

